* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto';
}

.offer_wrapper {
    padding: 60px 104px;
}

.offer_title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    line-height: 47px;
    padding-bottom: 20px;
}

.underline {
    width: 100px;
    height: 4px;
    margin: 20px auto;
    background: #F5BD41;
}

.items {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.offer_icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.offer__item_text {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    line-height: 28px;
}

.footer {
    padding: 120px 0px;
    background-color: #10367C;
    color: #fff;
}

.footer__logo {
    text-align: center;
    display: none;
}

.footer__items {
    display: flex;
    justify-content: space-around;
}

.footer__item-title {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
}

.footer__item-lists {
    list-style-type: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

.footer__item-list {
    margin-top: 24px;
}

.footer__item-link {
    text-decoration: none;
    color: #fff;
}

.footer__info {
    font-weight: normal;
    margin-top: 64px;
    margin-left: 103px;
    font-size: 14px;
    line-height: 16px;
    left: 0px;
}

@media (max-width: 360px) {
    .offer_wrapper {
        padding: 24px 0 40px;
    }

    .offer_title {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .underline {
        display: none;
    }

    .items {
        flex: 1 100px;
        flex-flow: column;
    }

    .item {
        margin-top: 32px;
    }

    .offer__item_text {
        margin-top: 16px;
        font-size: 15px;
        line-height: 18px;
    }

    .footer {
        padding: 40px 0;
    }

    .footer__logo {
        display: block;
        margin-bottom: 40px;
    }

    .footer__items {
        justify-content: center;
    }

    .footer__item-title {
        font-size: 15px;
        line-height: 18px;
        text-decoration: underline;
        margin-bottom: 0;
    }

    .footer__item-title {
        margin-right: 16px;
    }

    .footer__item-lists {
        display: none;
    }

    .footer__info {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        margin-top: 32px;
    }

}