$FontRoboto: Roboto;
$TextColor: #383838;
$TextSecondary: #bfbfbf;
$GeneralBlue: #10367c;
$AccentBlue: #3077c6;
$AccentYellow: #f5bd41;
$GeneralWhite: #ffffff;
$BgColor: #eaf0f9;
$StrokeColor: #f3f3f4;
